profiles {
    sanger_lsf {

        docker {
            enabled = false
        }

        singularity {
            enabled    = true
            autoMounts = true
            runOptions = "--bind /lustre,/software,/nfs"
        }

        process {
            cache     = "lenient"
            container = "gatk_4.6.2.0.sif"
            clusterOptions = "-G gsu-pipelines"
        }

        executor {
            name            = "lsf"
            perJobMemLimit  = true
            queueSize       = 4000
            jobName         = { "cnv - $task.name - $task.hash" }
            pollInterval    = "15 sec"
            dumpInterval    = "30min"
            submitRateLimit = "5 sec"
        }
    }
}
